body {
    font-family: 'Roboto Condensed', sans-serif;
    color:antiquewhite;
    background-color: rgb(11,20,22);
    margin: 0;
    padding: 0;
  }

button{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgb(11,20,22);
    color:antiquewhite;
    border: none;
    border-radius: 5px;
    font-size: 100%;
}

button:hover{
    background-color: antiquewhite;
    color: rgb(11,20,22);
    cursor: pointer;
}

input{
    background-color: rgb(11,20,22);
    color:antiquewhite;
    border: 1px solid antiquewhite;
    border-radius: 5px;
    font-size: 100%;
}

select{
    background-color: rgb(11,20,22);
    color:antiquewhite;
    border: 1px solid antiquewhite;
    border-radius: 5px;
    font-size: 100%;
}

label{
    font-size: 150%;
}

/*NavBar*/

.navBar{
    display: grid;
    grid-template-rows: repeat(1, 60px);
    grid-template-columns: 100px minmax(600px, 1fr);
    align-items: center;
    position: fixed;
    top: 0;
    background-color: antiquewhite;
    margin-top: 0px;
    padding-bottom: 10px;
    width: 100%;
}

.logo{
    font-weight: normal;
    margin-left: 30px;
    align-self: baseline;
    color: rgb(11,20,22);
}

.navButtonContainer{
    display:grid;
    width: 80%;
    justify-items: center;
    align-items: center;
    margin-right: 5%;
    grid-template-rows: 50px;
    grid-template-columns: repeat(6, minmax(40px, 1fr));
    justify-self: space-evenly;
    align-self: baseline;
    position: relative;
    top: -4px;
    margin-left: 20px;
}

@media only screen and (max-width: 750px) {
    .navBar{
        grid-template-rows: repeat(2, 50px);
        grid-template-columns: 1fr;
    }

    .navButtonContainer{
        justify-items: start;
        margin-left: 25px;
        position: relative;
        top: 7px;
    }

}

@media only screen and (min-width: 750px){
    .navButtonContainer{
        justify-self: end;
    }
}

.navLink{
    text-decoration: none;
    color:rgb(11,20,22);
    padding: 5%;
    border-radius: 5px;
    font-size: 100%;
}

.navLink:hover{
    color: antiquewhite;
    background-color: rgb(11,20,22);
}



#logOut{
    border: none;
    background-color: transparent;
    font-size: 100%;
}

#logOut:hover{
    background-color: antiquewhite;
    color: rgb(11,20,22);
    cursor: pointer;
}
.navButton:hover{
    background-color: antiquewhite;
    color: rgb(11,20,22);
}

/*HOME*/

.homeMessage{
    margin-left: 30px;
    margin-right: 30px;
    max-width: 1000px;
    margin-top: 125px;
}

/*edit*/

.editLoopMaster{
    margin-top: 125px;
}

.editEntries{
    display:grid;
    margin-top: 60px;
    gap: 1rem;
    height: 75px;
    grid-template-rows: 150px minmax(50px, 1fr);
    justify-items: space-evenly;
    height: 100%;
    margin-left: 30px;
}

.editInput{
    margin-right: 0px;
}

.onTheSide{
    display:flex;
    width: 88%;
    flex-direction:column;
    align-self: stretch;
    height: 150px;
    gap: 1rem;
    margin-top: 25px;
}

.editInput{
    margin-left: 10px;
    width: 100%;
}

.editTitle{
    display:flex;
}

.editKeySig{
    display:flex;
}

.editSelect{
    margin-left: 10px;
}


.editChords{
    display: grid;
    align-self: stretch;
    gap: 1rem;
    margin-top: 50px;
}

.eachChord{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 75px);
    gap: 1rem;
}
.plus{
    width: 30px;
    border: 1px solid antiquewhite;
    background-color: green;
}

.minus{
    width: 30px;
    border: 1px solid antiquewhite;
    background-color: rgb(92, 0, 0)
}

.keyChangeButtons{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    margin-left: 25px;
    margin-top: 50px;
    background-color: antiquewhite;
    height: 100px;
    width: 400px;
    border-radius: 5px;
}

.keyChangeButton{
    padding: 10px;
}

.editPageLoginToSubmit{
    margin-left: 35px;
    position: relative;
    top: 15px;
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 75px 75px 60px 75px;
    align-items:center;
}

.or{
    text-align: center;
}

.editLogIn{
    margin-left: 10px;
    border: 1px solid antiquewhite;
}

.editSignUp{
    border: 1px solid antiquewhite;
}

.editPageSubmit{
    margin-left: 30px;
    margin-top: 30px;
}

.editPageSubmitButton{
    border: 1px solid antiquewhite;
    border-radius: 5px;
    width: 75px;
    text-align: center;
}

.editPageGrabFromLoopBank{
    text-decoration: none;
    color: antiquewhite;
    margin-left: 30px;
    position: relative;
    bottom: -30px;
    border: 1px solid antiquewhite;
    padding: 10px;
    border-radius: 5px;
}

.editPageGrabFromLoopBank:hover{
    background-color: antiquewhite;
    color: rgb(11,20,22);
    cursor: pointer;
}

.loopCard{
    margin-left: 30px;
    width: 75%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    border: 1px solid antiquewhite;
    padding: 15px;
    padding-top: 0px;
    border-radius: 5px;
}

.loopTitle{
    font-size:150%;
   border: 1px solid antiquewhite;
   padding: 10px;
   border-radius: 5px;
   margin-right: auto;
   color: antiquewhite;
   text-decoration: none;
   padding-left: 10px;
   margin-top: 15px;
}

.loopTitle:hover{
    color: rgb(11,20,22);
    background-color: antiquewhite;
}


.titleTimestamp{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    
}

.abAndRel{
    display: flex;
    margin-bottom: 10px;
}

.absoluteChords{
    display: grid;
    grid-template-columns: repeat(1, 50px);
    grid-template-rows: repeat(4,30px);
    align-items: center;
    gap: 2rem;
    width: 50%;
    max-width: 100px;
}

.absoluteChord{
    font-size: 200%;
}

.relativeChords{
    display: grid;
    grid-template-columns: repeat(1, 50px);
    grid-template-rows: repeat(4, 30px);
    align-items: center;
    gap: 2rem;
    width: 50%;
}

.relativeChord{
    font-size: 200%;
}

.createdByContainer{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.loopCardUserLink{
    margin-left: 10px;
    color: antiquewhite;
    text-decoration: none;
    border: 1px solid antiquewhite;
    padding: 10px;
    border-radius: 5px;
}

.loopCardUserLink:hover{
   color: rgb(11,20,22);
   background-color: antiquewhite;
}

.cbAndStatus{
    display: flex;
    flex-direction: column;
}


.forkedFromContainer{
    display: flex;
    align-items: center;
}

.forkedFromLinks{
    margin-left: 10px;
}

.forkedFroms{
    border: 1px solid antiquewhite;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: antiquewhite;
}

.forkedFroms:hover{
    color: rgb(11,20,22);
    background-color: antiquewhite;
 }

.forkedFromsLoop{
    border: 1px solid antiquewhite;
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: antiquewhite;
}

.seeThruline{
    margin-right: auto;
    color: antiquewhite;
    text-decoration: none;
    border: 1px solid antiquewhite;
    padding: 10px;
    border-radius: 5px;

}

.seeThruline:hover{
    background-color: antiquewhite;
    color: rgb(11,20,22);
}

.forkedFromsLoop:hover{
    color: rgb(11,20,22);
    background-color: antiquewhite;
 }

 .toReplyContainer{
    display: flex;
    margin-top: 10px;
 }

 .toReplyText{
    white-space: nowrap;
 }

 .loginOrSignUpContainer{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 200px;
    margin-left: 10px;
    justify-content: space-evenly;
 }

 .loopCardLogin{
    padding: 10px;
    border: 1px solid antiquewhite;
 }

 .loopCardSignUp{
    padding: 10px;
    border: 1px solid antiquewhite;
 }

 .replyToContainer{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
 }

 .repliedFroms{
    margin-left: 10px;
    text-decoration: none;
    color: antiquewhite;
    border: 1px solid antiquewhite;
    padding: 10px;
    border-radius: 5px;
 }

 .repliedFroms:hover{
    color: rgb(11,20,22);
    background-color: antiquewhite;
 }

 .repliedFromsLoop{
    margin-left: 10px;
    text-decoration: none;
    color: antiquewhite;
    border: 1px solid antiquewhite;
    padding: 10px;
    border-radius: 5px;
 }

 .repliedFromsLoop:hover{
    color: rgb(11,20,22);
    background-color: antiquewhite;
 }

 .TLAndSL{
    margin-top: 25px;
    margin-bottom: 20px;
 }
 .seeStartLoop{
    margin-right: auto;
    color: antiquewhite;
    text-decoration: none;
    border: 1px solid antiquewhite;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;

}

.seeStartLoop:hover{
    background-color: antiquewhite;
    color: rgb(11,20,22);
}
